# 🚀 Web Framework (Backend)
fastapi
uvicorn[standard]

# 📦 Database (MongoDB)
pymongo
motor  # Async MongoDB driver

# ⚙️ Machine Learning & Inference
torch
torchvision
ultralytics  # YOLOv8 for Object Detection
numpy
opencv-python
pandas
tqdm
scipy

# 📈 MLOps & Monitoring
mlflow
loguru

# 🛠 Utilities
python-dotenv  # Load environment variables from .env
requests  # API calls handling
