# Core ML & Data Handling
ultralytics
torch
torchvision
numpy
pandas
Pillow
PyYAML
onnx
onnxruntime==1.17.0

# Backend Web Framework
fastapi
uvicorn[standard]
python-multipart

# Computer Vision
opencv-python-headless

# Monitoring & Experiment Tracking
prometheus-client
mlflow