# Core ML & Data Handling
ultralytics
torch
torchvision
numpy
pandas
Pillow
PyYAML
onnx
onnxruntime-gpu

# GPU Acceleration
pycuda

# Backend Web Framework
fastapi
uvicorn[standard]
python-multipart

# Computer Vision
opencv-python-headless

prometheus-client
mlflow
